
mixin listData(data)
  each obj in data
    - var item = obj[0].name + ' : ' + obj[0].val;
    li= item
    - var item = obj[1].name + ' : ' + obj[1].val;
    li= item
    - var item = obj[2].name + ' : ' + obj[2].val;
    li= item
    - var item = obj[3].name + ' : ' + obj[3].val;
    li= item
    - var item = obj[4].name + ' : ' + obj[4].val;
    li= item
    - var item = obj[5].name + ' : ' + obj[5].val;
    li= item
    br